@charset "utf-8";
/* CSS Document */
/*Important*/
.navbtn {
	background: none;
	border: none;
	color: #3F3F3F;
	font-size: 18px;
	padding: 7px 5px;
}
.line {
	width: 100%;
	height: 1px;
	background-color: #3F3F3F;
}
.btn {
	border-style: solid;
	border-color: cornflowerblue;
	background-color: dodgerblue;
	border-radius: 5px;
	padding: 5px 10px;
	color: white;
	transition: background-color 0.3 ease;
}
.content {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	padding-bottom: 50px;
	display: flex;
	background: none;
}
.headerblock {
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
}
ul {
	list-style: none;
}
li{
	list-style: none;
}
.last ul {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
}
.last li {
	margin: 0 10px;
}
.last {
	padding: 100px 50px;
}
a{
	color: dodgerblue;
	text-decoration: none;
}
.firstp {
	text-align: center;
}
.firstp p {
	font-size: 12px;
}
.products {
	text-align: center;
}
.service {
	text-align: center;
}
.websiteguide {
	text-align: center;
}
.activities {
	text-align: center;
}
.xia {
	font-size: 30px;
	color: #ACACAC;
}
.center {
	text-align: center;
}
.form {
	width: 45%;
}
/*Smile-Face*/
.cls-1,.cls-2{
	fill:#0071bc;
}
.cls-2{
	stroke:#0071bc;stroke-miterlimit:10;
}
/*finish*/
.headimg {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	text-align: center;
}
.hizw {
	top: 50px;
	width: 1px;
	height: 200px;
}
.ws {
	display: flex;
	align-items: center;
	justify-content: center;
}
.maw {
	position: absolute;
	top: 250px;
	width: 75%;
}
/*gstart*/
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	color: #3F3F3F;
	padding: 10px 0;
	text-align: center;
}
.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
}
.menu li {
	margin: 0 10px;
}
.menu a {
	color: white;
	text-decoration: none;
}
.menu-toggle {
	display: none;
}
.content {
	background-color: #f0f0f0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* 适用于小屏幕设备的样式 */
@media (max-width: 768px) {
	.menu {
		display: none; /* 隐藏菜单 */
		flex-direction: column;
	}
	.menu-toggle {
		display: block; /* 显示菜单按钮 */
		background-color: darkcyan;
		color: white;
		border: none;
		padding: 10px 5%;
		cursor: pointer;
		border-radius: 0px 5px 5px 0px;
	}
	.menu.show {
		display: flex; /* 显示菜单 */
	}
	header {
		background-color: #3F3F3F;
		color: white;
	}
	.navbtn {
		color: white;
		padding: 5px 50px;
	}
	.form {
		width: 100%;
	}
}
/*gfinish*/
@media (max-width: 375px) {
	.last ul {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}
.copyright {
	text-align: center;
	padding-top: 100px
}