@charset "utf-8";
/* CSS Document */
body{background-color: azure;}
.nav{padding: 5px;padding-left: 18px;padding-right: 18px;height: 38px;}
.navlink{background-color: azure;color: #3F3F3F;text-decoration: none;transition: background-color 0.3s ease;font-size: 18px;padding: 9px;text-align: inherit;border: none;height: 38px;}
.navlink:hover{background-color: #E9F3F4;}
a{color: cornflowerblue;}
.x3{flex: auto;}
.btnlr{border-radius: 20px;font-size: 18px;padding-left: 20px;padding-right: 20px;padding-top: 5px;padding-bottom: 5px;border-style: solid;color: #3F3F3F;text-decoration: none;border-color: #3F3F3F;}
.btnr{border-radius: 20px;font-size: 18px;border-style: solid;text-decoration: none;border-color: #3F3F3F;border: none;background-color: #3F3F3F;color: azure;padding-top: 7px;padding-bottom: 7px;padding-left: 22px;padding-right: 22px}
.btnl{border-radius: 20px;font-size: 18px;padding-left: 20px;padding-right: 20px;padding-top: 5px;padding-bottom: 5px;border-style: solid;color: #3F3F3F;text-decoration: none;border-color: #3F3F3F;background-color: azure}
.btn{font-size: 18px;border-style: solid;border-radius: 5px;border-color: royalblue;background-color: dodgerblue;padding: 5px;color: white;}